<div class="alert alert-block alert-info">
    <center><h1>ELT Project Overview: GoodReads Data</h1></center>
</div>

In [39]:
# pip install psycopg2

In [40]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

<div class="alert alert-block alert-info">
    <center><h1>CSV file imported to dataframe</h1></center>
</div>

In [41]:
data_file = "amazon.csv"

In [42]:
amazon_db1 = pd.read_csv(data_file)
amazon_db1.head()

,amazon_title,amazon_author,amazon_rating,amazon_reviews count,amazon_isbn-10,amazon_price
0,Tell Me your Dreams,by Sidney Sheldon,4.4,160.0,8172234902,209
1,The Boy in the Striped Pyjamas (Definitions),by John Boyne,4.6,134.0,1862305277,350
2,Romancing the Balance Sheet: For Anyone Who Ow...,by Anil Lamba,4.5,156.0,9350294311,477
3,Mossad,by Michael Bar-Zohar - Import,4.6,637.0,8184958455,340
4,My Story,by Kamala Das,4.5,42.0,8172238975,178

<div class="alert alert-block alert-info">
    <center><h1>Check for and dropped rows with incomplete data.</h1></center>
</div>

In [43]:
amazon_db1.count()

amazon_title            1382
amazon_author           1382
amazon_rating           1378
amazon_reviews count    1378
amazon_isbn-10          1382
amazon_price            1382
dtype: int64

In [44]:
amazon_db1 = amazon_db1.dropna(how='any')
amazon_db1.count()

amazon_title            1378
amazon_author           1378
amazon_rating           1378
amazon_reviews count    1378
amazon_isbn-10          1378
amazon_price            1378
dtype: int64

<div class="alert alert-block alert-info">
    <center><h1>Renamed column headers</h1></center>
</div>

In [45]:
renamed_df = amazon_db1.rename(columns={"amazon_title":"title", "amazon_author":"author_name", "amazon_rating":"amazon_rating", "amazon_reviews count":"amazon_ratings_count", "amazon_isbn-10":"isbn10", "amazon_price":"Price (Rs)"})
renamed_df.head()

,title,author_name,amazon_rating,amazon_ratings_count,isbn10,Price (Rs)
0,Tell Me your Dreams,by Sidney Sheldon,4.4,160.0,8172234902,209
1,The Boy in the Striped Pyjamas (Definitions),by John Boyne,4.6,134.0,1862305277,350
2,Romancing the Balance Sheet: For Anyone Who Ow...,by Anil Lamba,4.5,156.0,9350294311,477
3,Mossad,by Michael Bar-Zohar - Import,4.6,637.0,8184958455,340
4,My Story,by Kamala Das,4.5,42.0,8172238975,178

<div class="alert alert-block alert-info">
    <center><h1>Split "author name" column on "by "</h1></center>
</div>

In [46]:
renamed_df[["by", "author_name"]]= renamed_df.author_name.str.split("by ", expand = True)
# renamed_df

<div class="alert alert-block alert-info">
    <center><h1>Convertng Rupees to USD</h1></center>
</div>

In [47]:
# https://stackoverflow.com/questions/42530372/multiplying-columns-with-a-constant-value-in-pandas-type-error
renamed_df["amazon_price_usd"] = renamed_df["Price (Rs)"]*0.015
# renamed_df

<div class="alert alert-block alert-info">
    <center><h1>Split "author name"</h1></center>
</div>

In [48]:
renamed_df[["first_name", "last_name"]]= renamed_df.author_name.str.split(" ", n=1, expand = True)
renamed_df.head(3)

,title,author_name,amazon_rating,amazon_ratings_count,isbn10,Price (Rs),by,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,Sidney Sheldon,4.4,160.0,8172234902,209,,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),John Boyne,4.6,134.0,1862305277,350,,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,Anil Lamba,4.5,156.0,9350294311,477,,7.15,Anil,Lamba

<div class="alert alert-block alert-info">
    <center><h1>Removed unneeded columns</h1></center>
</div>

In [49]:
renamed2 = renamed_df.drop("by", axis=1)
renamed3 = renamed2.drop("author_name", axis=1)
renamed4 = renamed3.drop("Price (Rs)", axis=1)
renamed4.head()

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar - Import
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das

<div class="alert alert-block alert-info">
    <center><h1>Checked for incomplete data and remove rowsl</h1></center>
</div>

In [50]:
renamed4.count()

title                   1378
amazon_rating           1378
amazon_ratings_count    1378
isbn10                  1378
amazon_price_usd        1378
first_name              1186
last_name               1139
dtype: int64

In [51]:
renamed4 = renamed4.dropna(how='any')
renamed4.count()

title                   1139
amazon_rating           1139
amazon_ratings_count    1139
isbn10                  1139
amazon_price_usd        1139
first_name              1139
last_name               1139
dtype: int64

<div class="alert alert-block alert-info">
    <center><h1>Split last name then removed labels, descriptions, and extra hyphens.</h1></center>
</div>

In [52]:
renamed5 = renamed4['last_name'].str.split(n=5, expand=True)
renamed5.columns = ['last_name{}'.format(x+1) for x in renamed5.columns]
amazon_db2 = renamed4.join(renamed5)
amazon_db2.head(11)

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name,last_name1,last_name2,last_name3,last_name4,last_name5
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon,Sheldon,None,None,None,None
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne,Boyne,None,None,None,None
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba,Lamba,None,None,None,None
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar - Import,Bar-Zohar,-,Import,None,None
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das,Das,None,None,None,None
5,Inspiring Thoughts (Inspiring Thoughts Quotati...,4.1,148.0,8170286840,1.80,A.P.J.,Abdul Kalam,Abdul,Kalam,None,None,None
6,12 Years a Slave,4.5,41.0,8175994479,1.48,Solomon,Northup,Northup,None,None,None,None
7,Headley And I,3.5,14.0,9350295725,3.71,S.,Hussain Zaidi,Hussain,Zaidi,None,None,None
8,Making India Awesome: New Essays and Columns,3.8,1188.0,8129137429,1.50,Chetan,Bhagat,Bhagat,None,None,None,None
9,The Dirty Dozen: Hitmen of the Mumbai Underworld,4.2,54.0,9386850133,3.31,Gabriel,Khan,Khan,None,None,None,None
10,Commando,3.7,15.0,9386867168,5.00,Michael,Bar-Zohar,Bar-Zohar,None,None,None,None

In [53]:
d = {'Import': '','Unabridged':'', 'Abridged':'','Large Print':'', 'Illustrated': '', 'Publications': '', '-':''}
amazon_db2 = amazon_db2.replace(d)
amazon_db2.head(5)

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name,last_name1,last_name2,last_name3,last_name4,last_name5
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon,Sheldon,None,None,None,None
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne,Boyne,None,None,None,None
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba,Lamba,None,None,None,None
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar - Import,Bar-Zohar,,,None,None
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das,Das,None,None,None,None

In [54]:
amazon_db2.dtypes

title                    object
amazon_rating            object
amazon_ratings_count     object
isbn10                    int64
amazon_price_usd        float64
first_name               object
last_name                object
last_name1               object
last_name2               object
last_name3               object
last_name4               object
last_name5               object
dtype: object

<div class="alert alert-block alert-info">
    <center><h1>Removed "none" labels, remove extra columns, rejoined columns, and renamed columns.</h1></center>
</div>

In [55]:
amazon_db2.fillna(value="", inplace=True)
amazon_db2

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name,last_name1,last_name2,last_name3,last_name4,last_name5
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon,Sheldon,,,,
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne,Boyne,,,,
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba,Lamba,,,,
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar - Import,Bar-Zohar,,,,
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das,Das,,,,
5,Inspiring Thoughts (Inspiring Thoughts Quotati...,4.1,148.0,8170286840,1.80,A.P.J.,Abdul Kalam,Abdul,Kalam,,,
6,12 Years a Slave,4.5,41.0,8175994479,1.48,Solomon,Northup,Northup,,,,
7,Headley And I,3.5,14.0,9350295725,3.71,S.,Hussain Zaidi,Hussain,Zaidi,,,
8,Making India Awesome: New Essays and Columns,3.8,1188.0,8129137429,1.50,Chetan,Bhagat,Bhagat,,,,
9,The Dirty Dozen: Hitmen of the Mumbai Underworld,4.2,54.0,9386850133,3.31,Gabriel,Khan,Khan,,,,
10,Commando,3.7,15.0,9386867168,5.00,Michael,Bar-Zohar,Bar-Zohar,,,,
11,"Behold, I Shine: Narratives of Kashmir's Women...",4.3,15.0,8129145715,1.59,Freny,Manecksha - Import,Manecksha,,,,
12,Corporate Guru Narayan Murthy,4.1,4.0,8173157685,2.25,N,Chokkan,Chokkan,,,,
13,Byculla to Bangkok,4.1,96.0,9351362256,2.88,S.,Hussain Zaidi,Hussain,Zaidi,,,
14,"Who Cheats and How?: Scams, Frauds and the Dar...",3.5,17.0,9351500616,5.40,Robin,Banerjee,Banerjee,,,,
15,Little Black Book for Stunning Success + Tools...,4.4,67.0,8184959893,3.30,Robin,Sharma,Sharma,,,,
16,The Book Thief (Definitions Young Adult),4.5,87.0,1909531618,5.68,Markus,Zusak,Zusak,,,,
17,Refreshing Mandala - Colouring Book for Adults...,4.4,36.0,9350899175,2.62,Dreamland,,,,,,
18,Rejuvenate Yourself - Floral Patterns,4.3,59.0,9350899477,2.10,Dreamland,,,,,,
19,This Is Not Your Story,4.5,2177.0,9386224399,1.50,Savi,Sharma,Sharma,,,,
20,This Is Not Your Story,4.5,2177.0,9386224399,1.50,Savi,Sharma,Sharma,,,,
21,IQ Tests Book-1 - Boost Your Intelligence,3.8,19.0,9350945746,1.29,Arihant,Experts,Experts,,,,
22,The Perks of Being a Wallflower,4.4,306.0,1451696191,2.79,Stephen,Chbosky,Chbosky,,,,
23,Great Stories for Children,4.4,217.0,8129118920,2.73,Ruskin,Bond,Bond,,,,
24,Creative Doodle Colouring - Animals & Birds,4.7,11.0,9350897954,2.10,Dreamland,,,,,,
25,"Coloring Mandalas 2: For Balance, Harmony, and...",3.9,2.0,1590300866,9.15,Susanne,F. Fincher,F.,Fincher,,,
26,Sita: Warrior of Mithila (Ram Chandra),4.3,1817.0,9386224585,3.39,Amish,Tripathi,Tripathi,,,,
27,How to Be an Adult in Relationships: The Five ...,5.0,1.0,1570628122,10.33,David,Richo,Richo,,,,
28,Eleven Minutes,4.2,234.0,8172235631,2.50,Paulo,Coelho,Coelho,,,,
30,The Power of Your Subconscious Mind: Unlock Yo...,4.5,5009.0,8172345666,1.12,Joseph,Murphy,Murphy,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
1348,Curfewed Night,4.2,140.0,8184000901,4.20,Basharat,Peer,Peer,,,,
1349,Commando,3.7,15.0,9386867168,5.00,Michael,Bar-Zohar,Bar-Zohar,,,,
1350,"Behold, I Shine: Narratives of Kashmir's Women...",4.3,15.0,8129145715,1.59,Freny,Manecksha - Import,Manecksha,,,,
1351,Headley And I,3.5,14.0,9350295725,3.71,S.,Hussain Zaidi,Hussain,Zaidi,,,
1352,Byculla to Bangkok,4.1,96.0,9351362256,2.88,S.,Hussain Zaidi,Hussain,Zaidi,,,
1353,Ace against Odds,4.1,68.0,9351362639,4.35,Sania,Mirza,Mirza,,,,
1354,Not Just an Accountant: The Diary of the Natio...,4.5,196.0,8129134616,5.67,Vinod,Rai,Rai,,,,
1355,"Who Cheats and How?: Scams, Frauds and the Dar...",3.5,17.0,9351500616,5.40,Robin,Banerjee,Banerjee,,,,
1356,Indira: Indias Most Powerful Prime Minister,1.4,389.0,9386228343,7.62,Sagarika,Ghose,Ghose,,,,
1357,KPS Gill the Paramount Cop,4.0,33.0,9350335603,3.97,Rahul,Chandan,Chandan,,,,
1358,The Last Lecture,4.3,18.0,8183223583,2.49,Randy,Pausch,Pausch,,,,
1359,The Book Thief (Definitions Young Adult),4.5,87.0,1909531618,5.68,Markus,Zusak,Zusak,,,,
1360,If I Stay,3.9,111.0,1909531235,3.82,Gayle,Forman,Forman,,,,
1361,Why I Am a Hindu,3.4,259.0,9386021102,4.48,Dr.,Shashi Tharoor,Shashi,Tharoor,,,
1362,The Perks of Being a Wallflower,4.4,306.0,1451696191,2.79,Stephen,Chbosky,Chbosky,,,,
1363,Great Stories for Children,4.4,217.0,8129118920,2.73,Ruskin,Bond,Bond,,,,
1364,Fangirl,4.2,186.0,1447263227,4.80,Rainbow,Rowell - Unabridged,Rowell,,,,
1365,Harry Potter and the Philosopher's Stone,4.7,1097.0,1408855658,4.48,J.K.,Rowling,Rowling,,,,
1368,Harry Potter and the Chamber of Secrets (Harry...,4.7,562.0,1408855666,5.61,J.K.,Rowling,Rowling,,,,
1369,Fever Code (Prequel Maze Runner) (Maze Runner ...,4.1,15.0,1911077031,2.97,James,Dashner,Dashner,,,,
1370,Glass Sword (Red Queen),4.0,25.0,1409150747,2.94,Victoria,Aveyard,Aveyard,,,,
1371,Harry Potter and the Goblet of Fire (Harry Pot...,4.7,322,1408855682,7.86,J.K.,Rowling,Rowling,,,,
1373,Heartless,4.3,26.0,1509818022,5.25,Marissa,Meyer,Meyer,,,,
1374,Harry Potter and the Prisoner of Azkaban (Harr...,4.4,474.0,1408855674,5.61,J.K.,Rowling,Rowling,,,,
1375,The Secret to Teen Power,4.8,48.0,1847386938,7.38,Paul,Harrington,Harrington,,,,
1376,Harry Potter and the Order of the Phoenix (Har...,4.5,304.0,1408855690,8.98,J.K.,Rowling,Rowling,,,,
1377,Geronimo Stilton and the Kingdom of Fantasy #8...,4.6,329.0,9385887815,4.11,Geronimo,Stilton,Stilton,,,,
1378,Harry Potter and the Deathly Hallows (Harry Po...,4.6,352.0,1408855712,9.99,J.K.,Rowling,Rowling,,,,
1379,Sita's Ramayana,3.6,5.0,9380340036,8.13,Samhita,Arni,Arni,,,,
1380,The Maze Runner #02 Scorch Trials Movie Tie-in,3.9,56.0,9351039684,3.71,James,Dashner,Dashner,,,,

In [56]:
amazon_db2 = amazon_db2.drop(columns = "last_name")
amazon_db2.head()

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name1,last_name2,last_name3,last_name4,last_name5
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon,,,,
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne,,,,
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba,,,,
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar,,,,
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das,,,,

In [57]:
amazon_db2['last_name'] = amazon_db2['last_name1'] + " " + amazon_db2['last_name2']+ " " + amazon_db2['last_name3']+ " " + amazon_db2['last_name4']+ " " + amazon_db2['last_name5']
amazon_db2

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name1,last_name2,last_name3,last_name4,last_name5,last_name
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon,,,,,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne,,,,,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba,,,,,Lamba
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar,,,,,Bar-Zohar
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das,,,,,Das
5,Inspiring Thoughts (Inspiring Thoughts Quotati...,4.1,148.0,8170286840,1.80,A.P.J.,Abdul,Kalam,,,,Abdul Kalam
6,12 Years a Slave,4.5,41.0,8175994479,1.48,Solomon,Northup,,,,,Northup
7,Headley And I,3.5,14.0,9350295725,3.71,S.,Hussain,Zaidi,,,,Hussain Zaidi
8,Making India Awesome: New Essays and Columns,3.8,1188.0,8129137429,1.50,Chetan,Bhagat,,,,,Bhagat
9,The Dirty Dozen: Hitmen of the Mumbai Underworld,4.2,54.0,9386850133,3.31,Gabriel,Khan,,,,,Khan
10,Commando,3.7,15.0,9386867168,5.00,Michael,Bar-Zohar,,,,,Bar-Zohar
11,"Behold, I Shine: Narratives of Kashmir's Women...",4.3,15.0,8129145715,1.59,Freny,Manecksha,,,,,Manecksha
12,Corporate Guru Narayan Murthy,4.1,4.0,8173157685,2.25,N,Chokkan,,,,,Chokkan
13,Byculla to Bangkok,4.1,96.0,9351362256,2.88,S.,Hussain,Zaidi,,,,Hussain Zaidi
14,"Who Cheats and How?: Scams, Frauds and the Dar...",3.5,17.0,9351500616,5.40,Robin,Banerjee,,,,,Banerjee
15,Little Black Book for Stunning Success + Tools...,4.4,67.0,8184959893,3.30,Robin,Sharma,,,,,Sharma
16,The Book Thief (Definitions Young Adult),4.5,87.0,1909531618,5.68,Markus,Zusak,,,,,Zusak
17,Refreshing Mandala - Colouring Book for Adults...,4.4,36.0,9350899175,2.62,Dreamland,,,,,,
18,Rejuvenate Yourself - Floral Patterns,4.3,59.0,9350899477,2.10,Dreamland,,,,,,
19,This Is Not Your Story,4.5,2177.0,9386224399,1.50,Savi,Sharma,,,,,Sharma
20,This Is Not Your Story,4.5,2177.0,9386224399,1.50,Savi,Sharma,,,,,Sharma
21,IQ Tests Book-1 - Boost Your Intelligence,3.8,19.0,9350945746,1.29,Arihant,Experts,,,,,Experts
22,The Perks of Being a Wallflower,4.4,306.0,1451696191,2.79,Stephen,Chbosky,,,,,Chbosky
23,Great Stories for Children,4.4,217.0,8129118920,2.73,Ruskin,Bond,,,,,Bond
24,Creative Doodle Colouring - Animals & Birds,4.7,11.0,9350897954,2.10,Dreamland,,,,,,
25,"Coloring Mandalas 2: For Balance, Harmony, and...",3.9,2.0,1590300866,9.15,Susanne,F.,Fincher,,,,F. Fincher
26,Sita: Warrior of Mithila (Ram Chandra),4.3,1817.0,9386224585,3.39,Amish,Tripathi,,,,,Tripathi
27,How to Be an Adult in Relationships: The Five ...,5.0,1.0,1570628122,10.33,David,Richo,,,,,Richo
28,Eleven Minutes,4.2,234.0,8172235631,2.50,Paulo,Coelho,,,,,Coelho
30,The Power of Your Subconscious Mind: Unlock Yo...,4.5,5009.0,8172345666,1.12,Joseph,Murphy,,,,,Murphy
...,...,...,...,...,...,...,...,...,...,...,...,...
1348,Curfewed Night,4.2,140.0,8184000901,4.20,Basharat,Peer,,,,,Peer
1349,Commando,3.7,15.0,9386867168,5.00,Michael,Bar-Zohar,,,,,Bar-Zohar
1350,"Behold, I Shine: Narratives of Kashmir's Women...",4.3,15.0,8129145715,1.59,Freny,Manecksha,,,,,Manecksha
1351,Headley And I,3.5,14.0,9350295725,3.71,S.,Hussain,Zaidi,,,,Hussain Zaidi
1352,Byculla to Bangkok,4.1,96.0,9351362256,2.88,S.,Hussain,Zaidi,,,,Hussain Zaidi
1353,Ace against Odds,4.1,68.0,9351362639,4.35,Sania,Mirza,,,,,Mirza
1354,Not Just an Accountant: The Diary of the Natio...,4.5,196.0,8129134616,5.67,Vinod,Rai,,,,,Rai
1355,"Who Cheats and How?: Scams, Frauds and the Dar...",3.5,17.0,9351500616,5.40,Robin,Banerjee,,,,,Banerjee
1356,Indira: Indias Most Powerful Prime Minister,1.4,389.0,9386228343,7.62,Sagarika,Ghose,,,,,Ghose
1357,KPS Gill the Paramount Cop,4.0,33.0,9350335603,3.97,Rahul,Chandan,,,,,Chandan
1358,The Last Lecture,4.3,18.0,8183223583,2.49,Randy,Pausch,,,,,Pausch
1359,The Book Thief (Definitions Young Adult),4.5,87.0,1909531618,5.68,Markus,Zusak,,,,,Zusak
1360,If I Stay,3.9,111.0,1909531235,3.82,Gayle,Forman,,,,,Forman
1361,Why I Am a Hindu,3.4,259.0,9386021102,4.48,Dr.,Shashi,Tharoor,,,,Shashi Tharoor
1362,The Perks of Being a Wallflower,4.4,306.0,1451696191,2.79,Stephen,Chbosky,,,,,Chbosky
1363,Great Stories for Children,4.4,217.0,8129118920,2.73,Ruskin,Bond,,,,,Bond
1364,Fangirl,4.2,186.0,1447263227,4.80,Rainbow,Rowell,,,,,Rowell
1365,Harry Potter and the Philosopher's Stone,4.7,1097.0,1408855658,4.48,J.K.,Rowling,,,,,Rowling
1368,Harry Potter and the Chamber of Secrets (Harry...,4.7,562.0,1408855666,5.61,J.K.,Rowling,,,,,Rowling
1369,Fever Code (Prequel Maze Runner) (Maze Runner ...,4.1,15.0,1911077031,2.97,James,Dashner,,,,,Dashner
1370,Glass Sword (Red Queen),4.0,25.0,1409150747,2.94,Victoria,Aveyard,,,,,Aveyard
1371,Harry Potter and the Goblet of Fire (Harry Pot...,4.7,322,1408855682,7.86,J.K.,Rowling,,,,,Rowling
1373,Heartless,4.3,26.0,1509818022,5.25,Marissa,Meyer,,,,,Meyer
1374,Harry Potter and the Prisoner of Azkaban (Harr...,4.4,474.0,1408855674,5.61,J.K.,Rowling,,,,,Rowling
1375,The Secret to Teen Power,4.8,48.0,1847386938,7.38,Paul,Harrington,,,,,Harrington
1376,Harry Potter and the Order of the Phoenix (Har...,4.5,304.0,1408855690,8.98,J.K.,Rowling,,,,,Rowling
1377,Geronimo Stilton and the Kingdom of Fantasy #8...,4.6,329.0,9385887815,4.11,Geronimo,Stilton,,,,,Stilton
1378,Harry Potter and the Deathly Hallows (Harry Po...,4.6,352.0,1408855712,9.99,J.K.,Rowling,,,,,Rowling
1379,Sita's Ramayana,3.6,5.0,9380340036,8.13,Samhita,Arni,,,,,Arni
1380,The Maze Runner #02 Scorch Trials Movie Tie-in,3.9,56.0,9351039684,3.71,James,Dashner,,,,,Dashner

In [58]:
amazon_db2 = amazon_db2.drop(columns = "last_name1")
amazon_db2 = amazon_db2.drop(columns = "last_name2")
amazon_db2 = amazon_db2.drop(columns = "last_name3")
amazon_db2 = amazon_db2.drop(columns = "last_name4")
amazon_db2 = amazon_db2.drop(columns = "last_name5")
amazon_db2.head(3)

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba

In [59]:
amazon_db2 = amazon_db2[amazon_db2.first_name !="Dreamland"]
amazon_db2.head()

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba
3,Mossad,4.6,637.0,8184958455,5.10,Michael,Bar-Zohar
4,My Story,4.5,42.0,8172238975,2.67,Kamala,Das

<div class="alert alert-block alert-info">
    <center><h1>Formatted the rating count.</h1></center>
</div>

In [60]:
pd.options.display.float_format = '{:,.2f}'.format
amazon_db2.head(3)

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba

In [61]:
amazon_db2["amazon_ratings_count"].astype(str).astype(float)
amazon_db2.head(3)

,title,amazon_rating,amazon_ratings_count,isbn10,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,4.4,160.0,8172234902,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,134.0,1862305277,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,156.0,9350294311,7.15,Anil,Lamba

In [62]:
amazon_db2.dtypes

title                    object
amazon_rating            object
amazon_ratings_count     object
isbn10                    int64
amazon_price_usd        float64
first_name               object
last_name                object
dtype: object

In [63]:
amazon_floats = amazon_db2['amazon_ratings_count'].astype(float)
# pd.options.display.float_format = '{:,.0f}'.format
amazon_floats.head()

0   160.00
1   134.00
2   156.00
3   637.00
4    42.00
Name: amazon_ratings_count, dtype: float64

In [64]:
amazon_db2 = amazon_db2.drop(columns = "amazon_ratings_count")
amazon_db2.head(3)

,title,amazon_rating,isbn10,amazon_price_usd,first_name,last_name
0,Tell Me your Dreams,4.4,8172234902,3.13,Sidney,Sheldon
1,The Boy in the Striped Pyjamas (Definitions),4.6,1862305277,5.25,John,Boyne
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,9350294311,7.15,Anil,Lamba

In [65]:
amazon_round = amazon_floats.round(0).astype(int)

In [66]:
float_table = pd.DataFrame({"amazon_ratings_count": amazon_round})
float_table.head()

   amazon_ratings_count
0                   160
1                   134
2                   156
3                   637
4                    42

<div class="alert alert-block alert-info">
    <center><h1>Rejoined formated ratings count.</h1></center>
</div>

In [67]:
amazon_db2["amazon_ratings_count"]=float_table
amazon_db2

,title,amazon_rating,isbn10,amazon_price_usd,first_name,last_name,amazon_ratings_count
0,Tell Me your Dreams,4.4,8172234902,3.13,Sidney,Sheldon,160
1,The Boy in the Striped Pyjamas (Definitions),4.6,1862305277,5.25,John,Boyne,134
2,Romancing the Balance Sheet: For Anyone Who Ow...,4.5,9350294311,7.15,Anil,Lamba,156
3,Mossad,4.6,8184958455,5.10,Michael,Bar-Zohar,637
4,My Story,4.5,8172238975,2.67,Kamala,Das,42
5,Inspiring Thoughts (Inspiring Thoughts Quotati...,4.1,8170286840,1.80,A.P.J.,Abdul Kalam,148
6,12 Years a Slave,4.5,8175994479,1.48,Solomon,Northup,41
7,Headley And I,3.5,9350295725,3.71,S.,Hussain Zaidi,14
8,Making India Awesome: New Essays and Columns,3.8,8129137429,1.50,Chetan,Bhagat,1188
9,The Dirty Dozen: Hitmen of the Mumbai Underworld,4.2,9386850133,3.31,Gabriel,Khan,54
10,Commando,3.7,9386867168,5.00,Michael,Bar-Zohar,15
11,"Behold, I Shine: Narratives of Kashmir's Women...",4.3,8129145715,1.59,Freny,Manecksha,15
12,Corporate Guru Narayan Murthy,4.1,8173157685,2.25,N,Chokkan,4
13,Byculla to Bangkok,4.1,9351362256,2.88,S.,Hussain Zaidi,96
14,"Who Cheats and How?: Scams, Frauds and the Dar...",3.5,9351500616,5.40,Robin,Banerjee,17
15,Little Black Book for Stunning Success + Tools...,4.4,8184959893,3.30,Robin,Sharma,67
16,The Book Thief (Definitions Young Adult),4.5,1909531618,5.68,Markus,Zusak,87
19,This Is Not Your Story,4.5,9386224399,1.50,Savi,Sharma,2177
20,This Is Not Your Story,4.5,9386224399,1.50,Savi,Sharma,2177
21,IQ Tests Book-1 - Boost Your Intelligence,3.8,9350945746,1.29,Arihant,Experts,19
22,The Perks of Being a Wallflower,4.4,1451696191,2.79,Stephen,Chbosky,306
23,Great Stories for Children,4.4,8129118920,2.73,Ruskin,Bond,217
25,"Coloring Mandalas 2: For Balance, Harmony, and...",3.9,1590300866,9.15,Susanne,F. Fincher,2
26,Sita: Warrior of Mithila (Ram Chandra),4.3,9386224585,3.39,Amish,Tripathi,1817
27,How to Be an Adult in Relationships: The Five ...,5.0,1570628122,10.33,David,Richo,1
28,Eleven Minutes,4.2,8172235631,2.50,Paulo,Coelho,234
30,The Power of Your Subconscious Mind: Unlock Yo...,4.5,8172345666,1.12,Joseph,Murphy,5009
31,Ram - Scion of Ikshvaku (Book 1 - Ram Chandra ...,4.1,9385152149,3.60,Amish,Tripathi,4651
32,Sita: Warrior of Mithila (Ram Chandra),4.3,9386224585,3.39,Amish,Tripathi,1817
33,The Rise of Sivagami: Book 1 ofBaahubali - Be...,4.1,9386224445,2.43,Anand,Neelakantan,793
...,...,...,...,...,...,...,...
1348,Curfewed Night,4.2,8184000901,4.20,Basharat,Peer,140
1349,Commando,3.7,9386867168,5.00,Michael,Bar-Zohar,15
1350,"Behold, I Shine: Narratives of Kashmir's Women...",4.3,8129145715,1.59,Freny,Manecksha,15
1351,Headley And I,3.5,9350295725,3.71,S.,Hussain Zaidi,14
1352,Byculla to Bangkok,4.1,9351362256,2.88,S.,Hussain Zaidi,96
1353,Ace against Odds,4.1,9351362639,4.35,Sania,Mirza,68
1354,Not Just an Accountant: The Diary of the Natio...,4.5,8129134616,5.67,Vinod,Rai,196
1355,"Who Cheats and How?: Scams, Frauds and the Dar...",3.5,9351500616,5.40,Robin,Banerjee,17
1356,Indira: Indias Most Powerful Prime Minister,1.4,9386228343,7.62,Sagarika,Ghose,389
1357,KPS Gill the Paramount Cop,4.0,9350335603,3.97,Rahul,Chandan,33
1358,The Last Lecture,4.3,8183223583,2.49,Randy,Pausch,18
1359,The Book Thief (Definitions Young Adult),4.5,1909531618,5.68,Markus,Zusak,87
1360,If I Stay,3.9,1909531235,3.82,Gayle,Forman,111
1361,Why I Am a Hindu,3.4,9386021102,4.48,Dr.,Shashi Tharoor,259
1362,The Perks of Being a Wallflower,4.4,1451696191,2.79,Stephen,Chbosky,306
1363,Great Stories for Children,4.4,8129118920,2.73,Ruskin,Bond,217
1364,Fangirl,4.2,1447263227,4.80,Rainbow,Rowell,186
1365,Harry Potter and the Philosopher's Stone,4.7,1408855658,4.48,J.K.,Rowling,1097
1368,Harry Potter and the Chamber of Secrets (Harry...,4.7,1408855666,5.61,J.K.,Rowling,562
1369,Fever Code (Prequel Maze Runner) (Maze Runner ...,4.1,1911077031,2.97,James,Dashner,15
1370,Glass Sword (Red Queen),4.0,1409150747,2.94,Victoria,Aveyard,25
1371,Harry Potter and the Goblet of Fire (Harry Pot...,4.7,1408855682,7.86,J.K.,Rowling,322
1373,Heartless,4.3,1509818022,5.25,Marissa,Meyer,26
1374,Harry Potter and the Prisoner of Azkaban (Harr...,4.4,1408855674,5.61,J.K.,Rowling,474
1375,The Secret to Teen Power,4.8,1847386938,7.38,Paul,Harrington,48
1376,Harry Potter and the Order of the Phoenix (Har...,4.5,1408855690,8.98,J.K.,Rowling,304
1377,Geronimo Stilton and the Kingdom of Fantasy #8...,4.6,9385887815,4.11,Geronimo,Stilton,329
1378,Harry Potter and the Deathly Hallows (Harry Po...,4.6,1408855712,9.99,J.K.,Rowling,352
1379,Sita's Ramayana,3.6,9380340036,8.13,Samhita,Arni,5
1380,The Maze Runner #02 Scorch Trials Movie Tie-in,3.9,9351039684,3.71,James,Dashner,56

<div class="alert alert-block alert-info">
    <center><h1>Upload to Postgres.</h1></center>
</div>

In [68]:
amazon_db2.to_csv("amazon_df2.csv", sep = ",", encoding = 'utf-8', index = False)

In [69]:
rds_connection_string = "postgres:***********@localhost:5432/Goodreads"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [70]:
engine.table_names()

['flipkart', 'goodreads']

In [71]:
amazon_db2.to_sql(name='amazon', con=engine, if_exists='append', index=True)